.roadmap {
  display: flex;
  margin-bottom: 15vw !important;
  justify-content: space-between;
}

.year {
  font-size: clamp(2.5rem, -2rem + 19.0141vw, 18.75rem);
  font-family: GilroyLight;
  color: $gray;
  line-height: 1;
  margin-right: 50px;
}

.yearContent {
  padding-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  max-width: 600px;
  font-size: 18px;

}

.yearContent h3 {
  font-size: 50px;
  margin-bottom: 30px;
}

.yearContent ul {
  color: $gray;
}

.yearContent ul li {
  display: flex;
}

.yearContent ul li:not(:last-child) {
  margin-bottom: 40px;
}

.yearContent ul li span {
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
 .roadmap {
   flex-direction: column;
 }
}