.header {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  padding: 10vw 0 15vw 0;
  flex-direction: column;
  text-align: center;
  //margin-bottom: 150px;
  //height: 90vh;
}

.header h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
  font-family: GilroySemiBold, 'sans-serif';
}

.header h1 span {
  color: $green;
}

.header p {
  color: $gray;
  margin-bottom: 100px;
}

.header button {
  background: $green;
  padding: 20px 35px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 80px 5px rgba(20, 204, 115, 1);
}

.disclaimer {
  font-size: 12px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
  .header h1 {
    font-size: 40px;
  }

  .header button {
    padding: 15px 30px;
    font-size: 14px;
  }

  .header p {
    font-size: 14px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 100px 0 150px 0;
  }

  .header h1 {
    font-size: 28px;
  }

  .header p {
    font-size: 12px;
  }

  .disclaimer {
    font-size: 10px;
    margin-bottom: 50px;
  }
}
