.USDT {
  background: linear-gradient(
                  to bottom right,
                  hsla(158.87, 100%, 45.1%, 0) 0%,
                  hsla(158.87, 100%, 45.1%, 0.001) 8.1%,
                  hsla(158.87, 100%, 45.1%, 0.005) 15.5%,
                  hsla(158.87, 100%, 45.1%, 0.01) 22.5%,
                  hsla(158.87, 100%, 45.1%, 0.018) 29%,
                  hsla(158.87, 100%, 45.1%, 0.026) 35.3%,
                  hsla(158.87, 100%, 45.1%, 0.035) 41.2%,
                  hsla(158.87, 100%, 45.1%, 0.045) 47.1%,
                  hsla(158.87, 100%, 45.1%, 0.055) 52.9%,
                  hsla(158.87, 100%, 45.1%, 0.065) 58.8%,
                  hsla(158.87, 100%, 45.1%, 0.074) 64.7%,
                  hsla(158.87, 100%, 45.1%, 0.082) 71%,
                  hsla(158.87, 100%, 45.1%, 0.09) 77.5%,
                  hsla(158.87, 100%, 45.1%, 0.095) 84.5%,
                  hsla(158.87, 100%, 45.1%, 0.099) 91.9%,
                  hsla(158.87, 100%, 45.1%, 0.1) 100%
  );
  background-clip: padding-box;
}

.TON {
  background:
          linear-gradient(
                          to bottom right,
                          hsla(202.96, 100%, 45.1%, 0) 0%,
                          hsla(202.96, 100%, 45.1%, 0.001) 8.1%,
                          hsla(202.96, 100%, 45.1%, 0.005) 15.5%,
                          hsla(202.96, 100%, 45.1%, 0.01) 22.5%,
                          hsla(202.96, 100%, 45.1%, 0.018) 29%,
                          hsla(202.96, 100%, 45.1%, 0.026) 35.3%,
                          hsla(202.96, 100%, 45.1%, 0.035) 41.2%,
                          hsla(202.96, 100%, 45.1%, 0.045) 47.1%,
                          hsla(202.96, 100%, 45.1%, 0.055) 52.9%,
                          hsla(202.96, 100%, 45.1%, 0.065) 58.8%,
                          hsla(202.96, 100%, 45.1%, 0.074) 64.7%,
                          hsla(202.96, 100%, 45.1%, 0.082) 71%,
                          hsla(202.96, 100%, 45.1%, 0.09) 77.5%,
                          hsla(202.96, 100%, 45.1%, 0.095) 84.5%,
                          hsla(202.96, 100%, 45.1%, 0.099) 91.9%,
                          hsla(202.96, 100%, 45.1%, 0.1) 100%
          );
  background-clip: padding-box;
}

.BTC {
  background: linear-gradient(
                  to bottom right,
                  hsla(40.96, 100%, 45.1%, 0) 0%,
                  hsla(40.96, 100%, 45.1%, 0.001) 8.1%,
                  hsla(40.96, 100%, 45.1%, 0.005) 15.5%,
                  hsla(40.96, 100%, 45.1%, 0.01) 22.5%,
                  hsla(40.96, 100%, 45.1%, 0.018) 29%,
                  hsla(40.96, 100%, 45.1%, 0.026) 35.3%,
                  hsla(40.96, 100%, 45.1%, 0.035) 41.2%,
                  hsla(40.96, 100%, 45.1%, 0.045) 47.1%,
                  hsla(40.96, 100%, 45.1%, 0.055) 52.9%,
                  hsla(40.96, 100%, 45.1%, 0.065) 58.8%,
                  hsla(40.96, 100%, 45.1%, 0.074) 64.7%,
                  hsla(40.96, 100%, 45.1%, 0.082) 71%,
                  hsla(40.96, 100%, 45.1%, 0.09) 77.5%,
                  hsla(40.96, 100%, 45.1%, 0.095) 84.5%,
                  hsla(40.96, 100%, 45.1%, 0.099) 91.9%,
                  hsla(40.96, 100%, 45.1%, 0.1) 100%
  );
  background-clip: padding-box;
}

.ETH {
  background: linear-gradient(
                  to bottom right,
                  hsla(236.78, 71.29%, 59.02%, 0) 0%,
                  hsla(236.78, 71.29%, 59.02%, 0.001) 8.1%,
                  hsla(236.78, 71.29%, 59.02%, 0.005) 15.5%,
                  hsla(236.78, 71.29%, 59.02%, 0.01) 22.5%,
                  hsla(236.78, 71.29%, 59.02%, 0.018) 29%,
                  hsla(236.78, 71.29%, 59.02%, 0.026) 35.3%,
                  hsla(236.78, 71.29%, 59.02%, 0.035) 41.2%,
                  hsla(236.78, 71.29%, 59.02%, 0.045) 47.1%,
                  hsla(236.78, 71.29%, 59.02%, 0.055) 52.9%,
                  hsla(236.78, 71.29%, 59.02%, 0.065) 58.8%,
                  hsla(236.78, 71.29%, 59.02%, 0.074) 64.7%,
                  hsla(236.78, 71.29%, 59.02%, 0.082) 71%,
                  hsla(236.78, 71.29%, 59.02%, 0.09) 77.5%,
                  hsla(236.78, 71.29%, 59.02%, 0.095) 84.5%,
                  hsla(236.78, 71.29%, 59.02%, 0.099) 91.9%,
                  hsla(236.78, 71.29%, 59.02%, 0.1) 100%
  );
  background-clip: padding-box;
}

.USDT .icon {
  background: #53AE94;
}

.TON .icon {
  background: #0088CC;
}

.BTC .icon {
  background: #F7931A;
}

.ETH .icon {
  background: #627EEA;
}

.wallet-slide {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);

}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #53AE94;
  border-radius: 50%;
}


.icon svg {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.header p {
  font-size: 22px;
}

.header span {
  margin-left: auto;
  padding: 4px 12px;
  border-radius: 25px ;
  font-size: 14px;
  font-family: GilroyRegular;
  border: 1px solid rgba(255, 255, 255, 0.2);
}