.transactions h3 {
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
  position: relative;
  left: 15px;
}

.table-wrapper {
  margin-bottom: 50px;
}

.load-more-button {
  text-decoration: underline;
  margin: 0 auto 50px;
  width: 100%;
  color: white;
}

@media screen and (max-width: 767px) {
  .transactions ul li:first-child {
    display: none;
  }

  .transactions ul li {
    gap: 15px;
    grid-template-columns:1fr 1fr 1fr !important;
  }

}