.table-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  color: #777;
  font-size: 14px;
  font-family: GilroySemiBold;
  margin-bottom: 15px;
}

.table-list li {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(9, 1fr);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.table-list li span {
  display: none;
  //text-align: center;
}

.table-row {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
}

.success {
  color: $green;
}

.pending {
  color: $yellow;
}

.canceled {
  color: $red;
}

@media screen and (max-width: 767px) {
  .table-list li span {
    display: block;
    color: #777;
    font-size: 10px;
    margin-bottom: 5px;
  }

}