.settings {
  margin-bottom: 100px;
}

.settings h3 {
  font-size: 70px;
  margin-bottom: 50px;
}


.tab-list {
  display: flex;
  gap: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  //padding-bottom: 10px;
  margin-bottom: 50px;
  color: #777;
}

.inputs, .safe-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 100px;
}

.inputs input, .safe-inputs input {
  color: white;
}

.safe-inputs {
  grid-template-columns: repeat(2, 1fr);
}

.tab {
  color: #777;
  padding-bottom: 10px;
  cursor: pointer;
}


.selected-tab {
  color: white;
  position: relative;
  border-bottom: 1px solid white;
}


.selected-tab:focus:after {
  content: none;
}
