.faq {
  margin-bottom: 10vw;
  padding-left: 10px;
}

.faq h2 {
  font-size: 30px;
  color: $gray;
  margin-bottom: 20px;
}

.faq ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-image: url('@assets/images/new-year-promo/right-arrow.svg');
  //list-style-type: circle;
}

.faq ul li {
  //border-bottom: 1px solid $green;
}

.faq ul h3 {
  font-size: 34px;
}

.faq ul p {
  color: $gray;
}

@media screen and (max-width: 1200px) {
  .faq h2 {
    font-size: 20px;
  }

  .faq ul h3 {
    font-size: 24px;
  }

  .faq ul p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .faq ul h3 {
    font-size: 20px;
  }

  .faq ul p {
    font-size: 12px;
  }
}
