.open-plan {
  margin-bottom: 30px;
}

.open-plan-box h2 {
  font-size: 50px;
  margin-bottom: 35px;
}

.variants {
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.variants input {
  display: none;
  opacity: 0;
}

.error-message {
  margin-bottom: 20px;
  color: $red;
}

@media screen and (max-width: 767px) {
  .open-plan h2 {
    font-size: 30px;
  }

  .stepper {
    margin: 30px 0 15px 0 !important;
  }
}
