.cta-banner {
  background: $green;
  padding: 25px;
  border-radius: 8px;
  margin: 5vw 0 10vw 0;
  background-image: url('@assets/images/new-year-pattern.webp');
  background-size: cover;
}

.cta-banner h2 {
  font-size: 60px;
  font-family: GilroySemiBold, 'sans-serif';
}

.cta-banner p {
  margin-bottom: 40px;
  opacity: 0.7;
}

.cta-banner button {
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: $gray;
}

@media screen and (max-width: 1200px) {
  .cta-banner h2 {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .cta-banner p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .cta-banner {
    margin: 10vw 0;
  }

  .cta-banner h2 {
    font-size: 24px;
  }

  .cta-banner p {
    font-size: 12px;
    margin-bottom: 25px;
  }

  .cta-banner button {
    font-size: 12px;
    padding: 10px 15px;
  }
}
