.open-plan-confirm {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    //margin-bottom: 40px;
    margin: 70px auto 100px;
    color: black;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 25px;
    background: white;
    border-radius: 20px;
}

.success-transaction {
    font-size: 14px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(20, 204, 116, 0.25);
    border-radius: 50%;
}

.icon svg {
    z-index: 55;
}

.amount {
    font-size: 40px;
    font-family: GilroySemiBold;
}

.wallet, .total-income {
    padding-bottom: 17px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.open-plan-confirm p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.receipt {
    gap: 25px;
}

.receipt p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wallet {
    text-transform: capitalize;
}

.open-plan-confirm p span:nth-child(2) {
    font-family: GilroySemiBold;
    text-align: right;
}

.trouble {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.trouble p {
    display: flex;
    flex-direction: column;
    align-items: initial;
}


.trouble p span:nth-child(2) {
    text-align: initial;
}

.chevron {
    margin-left: auto;
}

@media screen and (max-width: 568px) {
    .open-plan-confirm {
        margin: 20px auto;
    }
}