@font-face {
  font-family: "GilroyLight";
  src:
          local("Gilroy"),
          url("/fonts/Gilroy-Light.woff") format("woff")
}

@font-face {
  font-family: "GilroyRegular";
  src:
          local("Gilroy"),
          url("/fonts/Gilroy-Regular.woff") format("woff")
}

@font-face {
  font-family: "GilroyMedium";
  src:
          local("Gilroy"),
          url("/fonts/Gilroy-Medium.woff") format("woff")
}

@font-face {
  font-family: "GilroySemiBold";
  src:
          local("Gilroy"),
          url("/fonts/Gilroy-SemiBold.woff") format("woff")
}