.confirmed-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 56;
  color: black;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  width: 95%;
  max-width: 500px;
  padding: 40px 25px;
  border-radius: 8px;
  text-align: center;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.popup-content h3 {
  margin: 0 auto 30px;
  font-size: 24px;
  font-family: GilroySemiBold, "sans-serif";
}

.popup-content h3 svg {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: $green;
  padding: 17px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 0px 55px 15px rgba(20,204,116,0.9);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  //margin-top: 30px;
}

.buttons button {
  background: $green;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 8px;
  color: white;
}


@media screen and (max-width: 767px) {
  .popup-content {
    padding: 25px 15px;
  }

  .popup-content h3 {
    display: flex;
    flex-direction: column;
    margin: 0 auto 15px;
  }

  .popup-content h3 svg {
    width: 30px;
    height: 30px;
  }

  .text {
    font-size: 14px;
  }
}