.menu {
  //width: calc(100% - 120px);
  max-width: 1720px;
  margin: 0 auto;
  padding: 20px;
  background: $green;
  color: #222;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 60px;
  position: relative;
}

.top-row {
  max-width: 1720px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  //padding: 15px 40px;
  font-family: GilroySemiBold, 'sans-serif';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.logotype svg path,
.logotype svg rect {
  //filter: invert(1);
  fill: #222;
}

.navigation {
  margin: 0 auto;
}

.navigation ul {
  display: flex;
  gap: 30px;
}

.user {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user > img {
  border-radius: 50%;
  border: 2px solid white;
  width: 45px;
  height: 45px;
}

.user-wrapper a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

.quit-button {
  //margin-left: calc(20vw - 260px);
  color: rgba(75, 75, 75, 0.7);
  cursor: pointer;
}

.active {
  color: white;
}

// BOTTOM ROW //



@media screen and (max-width: 1200px) {
  .navigation {
    display: none;
  }

  .user {
    margin-left: auto;
    margin-right: 30px;
  }

  .quit-button {
    margin-left: initial;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    margin-bottom: 30px;
  }

  .logotype svg {
    width: 80px;
  }

  .user {
    margin-right: 0;
    width: 160px;
  }

  .user img {
    width: 35px;
    height: 35px;
  }

  .user p {
    font-size: 14px;
  }

  .user-wrapper {
    font-size: 14px;
  }

}
