.menu {
  //width: calc(100% - 120px);
  max-width: 1720px;
  margin: 0 auto;
  padding: 20px;
  background: $green;
  color: #222;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 60px;
  position: relative;
}

.top-row {
  max-width: 1720px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  //padding: 15px 40px;
  font-family: GilroySemiBold, 'sans-serif';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.logotype svg path,
.logotype svg rect {
  //filter: invert(1);
  fill: #222;
}

.navigation {
  margin: 0 auto;
}

.navigation ul {
  display: flex;
  gap: 30px;
}

.user {
  //width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  //margin-right: 15px;
}

.user > img {
  border-radius: 50%;
  border: 2px solid white;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.user-wrapper a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  font-size: 12px;
}

.mobile-hamburger {
  display: none;
  width: 17px;
  height: 15px;
  margin-right: 10px;
  //height: 17px;
}

.mobile-hamburger span {
  position: relative;
  display: block;
  width: 17px;
  height: 2px;
  background: $black;
  border-radius: 10px;
}

.mobile-hamburger span:nth-child(2) {
  top: 3px;
}

.mobile-hamburger span:nth-child(3) {
  top: 6px;
}

.quit-button {
  //margin-left: calc(20vw - 260px);
  color: rgba(75, 75, 75, 0.7);
  cursor: pointer;
  margin-left: 20px;
}

.active {
  color: white;
}

@media screen and (max-width: 1200px) {
  .mobile-hamburger {
    display: block;
  }

  .navigation {
    display: none;
  }


  .quit-button {
    margin-left: initial;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    margin-bottom: 30px;
    padding: 15px 10px;
  }

  .logotype svg {
    width: 80px;
  }

  .user {
    width: 120px;
  }

  .user img {
    width: 30px;
    height: 30px;
  }

  .user p {
    font-size: 14px;
  }

  .user-wrapper {
    font-size: 14px;
  }

  .user-wrapper p {
    line-height: 1;
  }

  .user-wrapper a {
    font-size: 12px;
  }
}
