.contactUs {
  display: flex;
  flex-direction: column;
  height: 800px;
  background-image: linear-gradient(-45deg, #14CC74, #315EFF);
  //background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  padding: 45px;
  margin-bottom: 15vw;
}

.contactUs h2 {
  //font-size: 110px;

  font-size: clamp(1.1rem, 1rem + 4.8vw, 6.875rem);
  line-height: 1.1;
  margin-bottom: 80px;
}

.subtitle {
  margin-top: auto;
}

.subtitle span {
  display: inline-block;
  margin-top: 10px;
  opacity: 0.60;
}

@media screen and (max-width: 900px) {
  .contactUs {
    height: 550px;
    padding: 25px;
  }
}