.sign-in {
  display: flex;
  padding-top: 70px;
  margin-bottom: 200px;
}

.sign-in h2 {
  flex-basis: 50%;
  font-size: 48px;
}

.form-wrapper {
  padding-top: 20px;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.new-user {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}

.new-user p {
  color: #777;
  font-size: 20px;
  margin-bottom: 50px;
  //margin-left: auto;
}

.register-link {
  font-size: 20px;
  text-decoration: underline;
}