.why-participate {
    margin-bottom: 4vw;
}

.why-participate h2 {
    font-size: 30px;
    color: $gray;
    margin-bottom: 20px;
}

.why-participate ul {
    //padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.why-participate ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.why-participate ul li svg {
    opacity: 0.2;
}

.why-participate ul li h3 {
    font-size: 34px;
}

.why-participate ul li p {
    color: $gray;
}