.calculator-wrapper {
  display: flex;
  align-items: center;
  gap: 10vw;
}

.calculator-wrapper h2 {
  font-size: 30px;
  color: $gray;
  margin-bottom: 20px;
}

.calculator {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  //background: $green;
  border-radius: 8px;
  //padding: 25px;
  margin-bottom: 5vw;
}

.calculator p {
  margin-bottom: 60px;
}

.calculator input {
  //max-width: 400px;
  width: 100%;
  border: none;
  border-bottom: 2px solid $gray;
  background: none;
  font-size: 40px;
  outline: none;
  margin-bottom: 25px;
}

.calculator button {
  background: $green;
  border: none;
  padding: 10px 35px;
  border-radius: 8px;
  color: white;
}

.reward span,
.total-reward span {
  font-size: 100px;
}

.total-reward span {
  color: $green;
}

@media screen and (max-width: 1200px) {
  .calculator h2 {
    font-size: 20px;
  }

  .calculator p {
    font-size: 14px;
  }

  .calculator-wrapper {
    gap: 5vw;
  }

  .reward span,
  .total-reward span {
    font-size: 60px;
  }
}

@media screen and (max-width: 800px) {
  .calculator {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    margin-bottom: 0;
  }

  .calculator-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
  }

  .calculator p {
    margin-bottom: 30px;
  }

  .calculator input {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .reward span,
  .total-reward span {
    font-size: 42px;
  }
}
