.title {
  font-size: 50px;
  margin-bottom: 35px;
}

.referral-levels {
  margin-bottom: 50px;
}

.table-header {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 15%;
  font-size: 14px;
  //padding: 0 16px;
  opacity: 0.4;
  margin-bottom: 10px;
}

.table-header span:first-child {
  text-align: left;
}

.table-header span {
  text-align: center;
}

.table-header span:last-child {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 30px;
  }

  .table-header {
    font-size: 12px;
  }
}
