.deposits {
  margin-bottom: 50px;
}


.deposits-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.deposits button {
  color: white;
}

.tab {
  color: #777;
  transition: 0.35s ease all;
  cursor: pointer;
  font-size: 14px;
}

.selected-tab {
  color: white;
  position: relative;
  border-bottom: 1px solid white;
}


.selected-tab:focus:after {
  content: none;
}

