.deposits {
  margin-bottom: 50px;
}

.deposits-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.deposits button {
  color: white;
}

.tab {
  color: #777;
  transition: 0.35s ease all;
  cursor: pointer;
  font-size: 14px;
}

.selected-tab {
  color: white;
  position: relative;
  border-bottom: 1px solid white;
}

.selected-tab:focus:after {
  content: none;
}

.skeletons {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .tab {
    font-size: 12px;
  }
}
