.menu {
  width: 100%;
  display: flex;
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
  font-family: GilroySemiBold;
}

.menuIndex {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation {
  margin: 0 auto;
}

.logotype {
  position: relative;
  margin-right: 20px;
  z-index: 56;
  width: max-content;
  height: 42px;
}

.navigation ul {
  display: flex;
  gap: 2vw;
}

.navigation ul li a {
  transition: 0.35s ease all;
}

.active {
  transition: 0.35s ease all;
  color: $green;
}

.signInButton {
  margin-left: 55px;
}

.contactUsButton {
  margin-left: 25px;
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .logotype {
    height: 28px;
  }

  .logotype svg {
    width: 80px;
  }

  .mobile-menu {
    display: flex;
  }

  .navigation ul {
    display: none;
  }

  .contactUsButton {
    margin-left: 40px;
    display: none;
  }
}
