.wallet-field p {
  text-transform: lowercase;
}
.wallet-field p:first-letter {
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 25px;
  background: white;
  border-radius: 20px;
  color: black;
  margin-bottom: 70px;
}

.transaction-confirmation {
  margin-bottom: 65px;
}

.success-notification {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid $green;
  padding: 12px 24px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.success-notification svg {
  background: $green;
  width: 48px;
  height: 48px;
  padding: 13px;
  border-radius: 50%;
}

.columns-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.completed {
  color: $green;
  display: flex;
  align-items: center;
  gap: 5px;
}

.invoice-number {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 10px;
}

.invoice-subtitle {
  margin-bottom: 50px;
  color: #777;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: rgba(20, 204, 116, 0.25);
  border-radius: 50%;
}

//.icon svg {
//  z-index: 55;
//}

.amount {
  font-size: 40px;
  font-family: GilroySemiBold;
}

.amount span {
  color: #777;
}

.amount-subtitle {
  display: inline-block;
  font-size: 14px;
  color: #777;
  margin-bottom: 50px;
}

// RIGHT COLUMN //

.fields {
  margin-bottom: 50px;
}

.field {
  display: flex;
  align-items: center;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px 24px;
  border-radius: 8px;
}

.field:not(:last-child) {
  margin-bottom: 10px;
}

.field span {
  flex-basis: 250px;
  color: #777;
}

.secure-connection {
  display: flex;
  gap: 15px;
}

.secure-connection-withdrawn {
  margin-left: 0;
}

.secure-connection p {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.secure-connection svg:nth-child(3) {
  margin-top: auto;
}

.disclaimer {
  padding-top: 40px;
  font-family: GilroyRegular;
  line-height: 1.5;
  color: #777;
  margin-bottom: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.pending {
  color: $yellow;
}

@media screen and (max-width: 1500px) {
  .columns-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .row {
    margin-bottom: 15px;
  }

  .amount {
    font-size: 30px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .icon svg {
    width: 25px;
    height: 25px;
  }

  .columns-wrapper {
    gap: 25px;
  }

  .transaction-confirmation {
    margin-bottom: 25px;
  }

  .success-notification {
    margin-bottom: 15px;
    padding: 10px;
  }

  .success-notification span {
    font-size: 14px;
  }

  .success-notification svg {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  .title {
    font-size: 14px;
  }

  .amount-subtitle {
    margin-bottom: 25px;
  }

  .invoice-number {
    font-size: 40px;
  }

  .invoice-subtitle {
    margin-bottom: 35px;
    font-size: 14px;
  }

  .secure-connection {
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    gap: 25px;
  }

  .field {
    justify-content: space-between;
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .fields {
    margin-bottom: 25px;
  }

  .fields div:nth-child(3) p {
    width: 150px;
    white-space: nowrap; /* Текст не переносится на новую строку */
    overflow: hidden; /* Скрывает текст, который выходит за пределы контейнера */
    text-overflow: ellipsis; /* Обрезает текст троеточием */
  }

  .field span {
    flex-basis: 160px;
  }

  .disclaimer {
    font-size: 12px;
    padding-top: 15px;
    margin-bottom: 20px;
  }

  .buttons {
    grid-template-columns: 1fr;
  }

  .buttons button {
    width: 100%;
  }
}
