.sign-up {
  display: flex;
  padding-top: 70px;
  margin-bottom: 15vw;
}

.sign-up > h2 {
  flex-basis: 50%;
  font-size: 48px;
}

.form-wrapper {
  padding-top: 20px;
  max-width: 450px;
  width: 100%;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.new-user {
  display: flex;
  gap: 15px;
  margin-bottom: 100px;
}

.new-user p {
  color: #777;
  font-size: 20px;
  //margin-left: auto;
}

.sign-in-link {
  font-size: 20px;
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition: 0.35s ease all;
}

.container:hover input ~ .checkmark {
  background-color: #8f8f8f;
}

.container input:checked ~ .checkmark {
  background-color: $green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.agreement {
  font-size: 14px;
}


.input-wrapper {
  position: relative;
}

.error {
  position: absolute;
  bottom: -23px;
  font-size: 14px;
  color: $red;
}

.read-rules {
  color: white;
  opacity: 0.5;
  margin-left: 15px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .sign-up {
    flex-direction: column;
  }

  .form-wrapper {
    max-width: 100%;
  }
}