@import './styles/fonts';
@import './styles/variables';

:root {
  font-family: GilroyMedium, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;

  color-scheme: light dark;
  color: $white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  //padding: 0 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  font-family: inherit;
}

input {
  color: white;
}

.red-gradient {
  background: linear-gradient(
    to bottom right,
    hsla(0, 100%, 50%, 0) 0%,
    hsla(0, 100%, 50%, 0.001) 8.1%,
    hsla(0, 100%, 50%, 0.005) 15.5%,
    hsla(0, 100%, 50%, 0.01) 22.5%,
    hsla(0, 100%, 50%, 0.018) 29%,
    hsla(0, 100%, 50%, 0.026) 35.3%,
    hsla(0, 100%, 50%, 0.035) 41.2%,
    hsla(0, 100%, 50%, 0.045) 47.1%,
    hsla(0, 100%, 50%, 0.055) 52.9%,
    hsla(0, 100%, 50%, 0.065) 58.8%,
    hsla(0, 100%, 50%, 0.074) 64.7%,
    hsla(0, 100%, 50%, 0.082) 71%,
    hsla(0, 100%, 50%, 0.09) 77.5%,
    hsla(0, 100%, 50%, 0.095) 84.5%,
    hsla(0, 100%, 50%, 0.099) 91.9%,
    hsla(0, 100%, 50%, 0.1) 100%
  );
  background-clip: padding-box;
}

.Выполнено,
.green-gradient {
  background: linear-gradient(
    to bottom right,
    hsla(146, 100%, 50%, 0) 0%,
    hsla(146, 100%, 50%, 0.001) 8.1%,
    hsla(146, 100%, 50%, 0.005) 15.5%,
    hsla(146, 100%, 50%, 0.01) 22.5%,
    hsla(146, 100%, 50%, 0.018) 29%,
    hsla(146, 100%, 50%, 0.026) 35.3%,
    hsla(146, 100%, 50%, 0.035) 41.2%,
    hsla(146, 100%, 50%, 0.045) 47.1%,
    hsla(146, 100%, 50%, 0.055) 52.9%,
    hsla(146, 100%, 50%, 0.065) 58.8%,
    hsla(146, 100%, 50%, 0.074) 64.7%,
    hsla(146, 100%, 50%, 0.082) 71%,
    hsla(146, 100%, 50%, 0.09) 77.5%,
    hsla(146, 100%, 50%, 0.095) 84.5%,
    hsla(146, 100%, 50%, 0.099) 91.9%,
    hsla(146, 100%, 50%, 0.1) 100%
  );
  background-clip: padding-box;
}

.Ожидание {
  background: linear-gradient(
    to bottom right,
    hsla(60, 100%, 50%, 0) 0%,
    hsla(60, 100%, 50%, 0.001) 8.1%,
    hsla(60, 100%, 50%, 0.005) 15.5%,
    hsla(60, 100%, 50%, 0.01) 22.5%,
    hsla(60, 100%, 50%, 0.018) 29%,
    hsla(60, 100%, 50%, 0.026) 35.3%,
    hsla(60, 100%, 50%, 0.035) 41.2%,
    hsla(60, 100%, 50%, 0.045) 47.1%,
    hsla(60, 100%, 50%, 0.055) 52.9%,
    hsla(60, 100%, 50%, 0.065) 58.8%,
    hsla(60, 100%, 50%, 0.074) 64.7%,
    hsla(60, 100%, 50%, 0.082) 71%,
    hsla(60, 100%, 50%, 0.09) 77.5%,
    hsla(60, 100%, 50%, 0.095) 84.5%,
    hsla(60, 100%, 50%, 0.099) 91.9%,
    hsla(60, 100%, 50%, 0.1) 100%
  );
  background-clip: padding-box;
}

.Отмена {
  background: linear-gradient(
    to bottom right,
    hsla(0, 100%, 50%, 0) 0%,
    hsla(0, 100%, 50%, 0.001) 8.1%,
    hsla(0, 100%, 50%, 0.005) 15.5%,
    hsla(0, 100%, 50%, 0.01) 22.5%,
    hsla(0, 100%, 50%, 0.018) 29%,
    hsla(0, 100%, 50%, 0.026) 35.3%,
    hsla(0, 100%, 50%, 0.035) 41.2%,
    hsla(0, 100%, 50%, 0.045) 47.1%,
    hsla(0, 100%, 50%, 0.055) 52.9%,
    hsla(0, 100%, 50%, 0.065) 58.8%,
    hsla(0, 100%, 50%, 0.074) 64.7%,
    hsla(0, 100%, 50%, 0.082) 71%,
    hsla(0, 100%, 50%, 0.09) 77.5%,
    hsla(0, 100%, 50%, 0.095) 84.5%,
    hsla(0, 100%, 50%, 0.099) 91.9%,
    hsla(0, 100%, 50%, 0.1) 100%
  );
  background-clip: padding-box;
}

.USDT {
  background: linear-gradient(
    to bottom right,
    hsla(174.71, 50%, 70%, 0) 0%,
    hsla(174.71, 50%, 70%, 0.001) 8.1%,
    hsla(174.71, 50%, 70%, 0.005) 15.5%,
    hsla(174.71, 50%, 70%, 0.01) 22.5%,
    hsla(174.71, 50%, 70%, 0.018) 29%,
    hsla(174.71, 50%, 70%, 0.026) 35.3%,
    hsla(174.71, 50%, 70%, 0.035) 41.2%,
    hsla(174.71, 50%, 70%, 0.045) 47.1%,
    hsla(174.71, 50%, 70%, 0.055) 52.9%,
    hsla(174.71, 50%, 70%, 0.065) 58.8%,
    hsla(174.71, 50%, 70%, 0.074) 64.7%,
    hsla(174.71, 50%, 70%, 0.082) 71%,
    hsla(174.71, 50%, 70%, 0.09) 77.5%,
    hsla(174.71, 50%, 70%, 0.095) 84.5%,
    hsla(174.71, 50%, 70%, 0.099) 91.9%,
    hsla(174.71, 50%, 70%, 0.1) 100%
  );
  background-clip: padding-box;
}

.TON {
  background: linear-gradient(
    to bottom right,
    hsla(202.96, 100%, 45.1%, 0) 0%,
    hsla(202.96, 100%, 45.1%, 0.001) 8.1%,
    hsla(202.96, 100%, 45.1%, 0.005) 15.5%,
    hsla(202.96, 100%, 45.1%, 0.01) 22.5%,
    hsla(202.96, 100%, 45.1%, 0.018) 29%,
    hsla(202.96, 100%, 45.1%, 0.026) 35.3%,
    hsla(202.96, 100%, 45.1%, 0.035) 41.2%,
    hsla(202.96, 100%, 45.1%, 0.045) 47.1%,
    hsla(202.96, 100%, 45.1%, 0.055) 52.9%,
    hsla(202.96, 100%, 45.1%, 0.065) 58.8%,
    hsla(202.96, 100%, 45.1%, 0.074) 64.7%,
    hsla(202.96, 100%, 45.1%, 0.082) 71%,
    hsla(202.96, 100%, 45.1%, 0.09) 77.5%,
    hsla(202.96, 100%, 45.1%, 0.095) 84.5%,
    hsla(202.96, 100%, 45.1%, 0.099) 91.9%,
    hsla(202.96, 100%, 45.1%, 0.1) 100%
  );
  background-clip: padding-box;
}

.BTC {
  background: linear-gradient(
    to bottom right,
    hsla(40.96, 100%, 45.1%, 0) 0%,
    hsla(40.96, 100%, 45.1%, 0.001) 8.1%,
    hsla(40.96, 100%, 45.1%, 0.005) 15.5%,
    hsla(40.96, 100%, 45.1%, 0.01) 22.5%,
    hsla(40.96, 100%, 45.1%, 0.018) 29%,
    hsla(40.96, 100%, 45.1%, 0.026) 35.3%,
    hsla(40.96, 100%, 45.1%, 0.035) 41.2%,
    hsla(40.96, 100%, 45.1%, 0.045) 47.1%,
    hsla(40.96, 100%, 45.1%, 0.055) 52.9%,
    hsla(40.96, 100%, 45.1%, 0.065) 58.8%,
    hsla(40.96, 100%, 45.1%, 0.074) 64.7%,
    hsla(40.96, 100%, 45.1%, 0.082) 71%,
    hsla(40.96, 100%, 45.1%, 0.09) 77.5%,
    hsla(40.96, 100%, 45.1%, 0.095) 84.5%,
    hsla(40.96, 100%, 45.1%, 0.099) 91.9%,
    hsla(40.96, 100%, 45.1%, 0.1) 100%
  );
  background-clip: padding-box;
}

.ETH {
  background: linear-gradient(
    to bottom right,
    hsla(236.78, 71.29%, 59.02%, 0) 0%,
    hsla(236.78, 71.29%, 59.02%, 0.001) 8.1%,
    hsla(236.78, 71.29%, 59.02%, 0.005) 15.5%,
    hsla(236.78, 71.29%, 59.02%, 0.01) 22.5%,
    hsla(236.78, 71.29%, 59.02%, 0.018) 29%,
    hsla(236.78, 71.29%, 59.02%, 0.026) 35.3%,
    hsla(236.78, 71.29%, 59.02%, 0.035) 41.2%,
    hsla(236.78, 71.29%, 59.02%, 0.045) 47.1%,
    hsla(236.78, 71.29%, 59.02%, 0.055) 52.9%,
    hsla(236.78, 71.29%, 59.02%, 0.065) 58.8%,
    hsla(236.78, 71.29%, 59.02%, 0.074) 64.7%,
    hsla(236.78, 71.29%, 59.02%, 0.082) 71%,
    hsla(236.78, 71.29%, 59.02%, 0.09) 77.5%,
    hsla(236.78, 71.29%, 59.02%, 0.095) 84.5%,
    hsla(236.78, 71.29%, 59.02%, 0.099) 91.9%,
    hsla(236.78, 71.29%, 59.02%, 0.1) 100%
  );
  background-clip: padding-box;
}

.SOL {
  background: linear-gradient(
    to bottom right,
    hsla(270, 71.29%, 59.02%, 0) 0%,
    hsla(270, 71.29%, 59.02%, 0.001) 8.1%,
    hsla(270, 71.29%, 59.02%, 0.005) 15.5%,
    hsla(270, 71.29%, 59.02%, 0.01) 22.5%,
    hsla(270, 71.29%, 59.02%, 0.018) 29%,
    hsla(270, 71.29%, 59.02%, 0.026) 35.3%,
    hsla(270, 71.29%, 59.02%, 0.035) 41.2%,
    hsla(270, 71.29%, 59.02%, 0.045) 47.1%,
    hsla(270, 71.29%, 59.02%, 0.055) 52.9%,
    hsla(270, 71.29%, 59.02%, 0.065) 58.8%,
    hsla(270, 71.29%, 59.02%, 0.074) 64.7%,
    hsla(270, 71.29%, 59.02%, 0.082) 71%,
    hsla(270, 71.29%, 59.02%, 0.09) 77.5%,
    hsla(270, 71.29%, 59.02%, 0.095) 84.5%,
    hsla(270, 71.29%, 59.02%, 0.099) 91.9%,
    hsla(270, 71.29%, 59.02%, 0.1) 100%
  );
  background-clip: padding-box;
}

.USDT .icon {
  background: #53ae94;
}

.TON .icon {
  background: #0088cc;
}

.BTC .icon {
  background: #f7931a;
}

.ETH .icon {
  background: #627eea;
}

.SOL .icon {
  background: #8f62ea;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1720px;
}

.page-title {
  font-size: 60px;
}

.react-tabs__tab--selected:focus:after,
.react-tabs__tab--selected:focus:before {
  background: transparent;
  content: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
  background: $green !important;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  .page-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 579px) {
  .page-title {
    font-size: 30px;
  }
}
