@import './styles/fonts';
@import './styles/variables';

:root {
  font-family: GilroyMedium, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;

  color-scheme: light dark;
  color: $white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  //padding: 0 40px;
}


a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  font-family: inherit;
}


.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1720px;
}


.page-title {
  font-size: 60px;
}


.react-tabs__tab--selected:focus:after, .react-tabs__tab--selected:focus:before  {
  background: transparent;
  content: none;
}

.swiper {
  width: 100%;
  height: 100%;
}


.swiper-pagination-bullet-active {
  background: $green !important;
}

@media screen and (max-width: 767px) {
  .page-title {
    font-size: 40px;
  }
}

