.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #53ae94;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.icon svg {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.header span {
  margin-left: auto;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.wallets {
  position: relative;
  margin-bottom: 50px;
}

.wallets-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wallets h3 {
  font-size: 16px;
  font-family: GilroySemiBold;
  color: #777;
}

.wallet {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
}

.name {
  font-size: 14px;
}

.values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 25px;
}

.values p {
  margin-bottom: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.slider-buttons {
  display: flex;
  //position: absolute;
  gap: 15px;
  //top: 0;
  //right: 0;
  z-index: 55;
  height: 30px;
}

.slider-buttons button:first-child {
  transform: rotateZ(90deg);
}

.slider-buttons button:last-child {
  transform: rotateZ(-90deg);
}

.slider-buttons svg {
  background: white;
  width: 30px;
  height: 30px;
  padding: 9px;
  border-radius: 50%;
}

.slider-buttons svg path {
  fill: $black;
}

.swiper-padding {
  padding: 2px 0;
}

@media screen and (max-width: 500px) {
  .slider-buttons svg {
    width: 25px;
    height: 25px;
    padding: 8px;
  }
}
