.wallets {
  position: relative;
  margin-bottom: 50px;
}

.wallets h3 {
  font-size: 16px;
  font-family: GilroySemiBold;
  color: #777;
  margin-bottom: 30px;
}


.wallet {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.values p {
  margin-bottom: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.slider-buttons {
  display: flex;
  position: absolute;
  gap: 15px;
  top: 0px;
  right: 0;
  z-index: 55;
  height: 30px;
}


.slider-buttons button:first-child {
  transform: rotateZ(90deg);
}

.slider-buttons button:last-child {
  transform: rotateZ(-90deg);
}

.slider-buttons svg {
  background: white;
  width: 30px;
  height: 30px;
  padding: 9px;
  border-radius: 50%;
}

.slider-buttons svg path {
  fill: $black;
}
